<!doctype html>

<!--[if IE 8]><html class="ie8 ie-all" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-all" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 10]><html class="ie10 ie-all" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if !IE]><!-->
<!--<![endif]-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Place favicon.ico and apple-touch-icon.png (72x72) in the root directory -->
    <link rel="apple-touch-icon" href="upload/b-144x144.png">

    <!-- HTML5 enabling script -->
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <title>Pet Finder</title>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato%3A400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2Cregular%2C&amp;ver=4.4.2' type='text/css' media='all' />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Ubuntu%3A400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2Cregular%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C700%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C700%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C&amp;ver=4.4.2' type='text/css' media='all' />

    <script src="/lib/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
    

    <!-- inject:css -->
    <link rel="stylesheet" href="/style.css">
    <!-- endinject -->
    <!-- scripts:css -->
    <link rel="stylesheet" href="/lib/angular-material.min.css">
    <link rel="stylesheet" href="/lib/ish-fontello.css">
    <link rel="stylesheet" href="/lib/jquery.fancybox.css">
    <link rel="stylesheet" href="/lib/js_composer.min.css">
    <link rel="stylesheet" href="/lib/layerslider.css">
    <link rel="stylesheet" href="/lib/main-options.css">
    <link rel="stylesheet" href="/lib/main-options_2.css">
    <link rel="stylesheet" href="/lib/mediaelementplayer.min.css">
    <link rel="stylesheet" href="/lib/prettyPhoto.css">
    <link rel="stylesheet" href="/lib/select2.css">
    <link rel="stylesheet" href="/lib/settings.css">
    <link rel="stylesheet" href="/lib/shortcodes.css">
    <link rel="stylesheet" href="/lib/skin.css">
    <link rel="stylesheet" href="/lib/style.css">
    <link rel="stylesheet" href="/lib/tooltipster.css">
    <link rel="stylesheet" href="/lib/woocommerce-layout.css">
    <link rel="stylesheet" href="/lib/woocommerce-smallscreen.css">
    <link rel="stylesheet" href="/lib/woocommerce.css">
    <link rel="stylesheet" href="/lib/wp-mediaelement.css">
    <!-- endinject -->

</head>

<body ng-app="portifolio">
    <div ng-view></div>
</body> 
<footer>
    <!-- inject:js -->
    <script src="/all.js"></script>
    <!-- endinject -->
    <!-- scripts:js -->
    <script src="/lib/01_jquery.js"></script>
    <script src="/lib/02_jquery-migrate.min.js"></script>
    <script src="/lib/add-to-cart.min.js"></script>
    <script src="/lib/address-i18n.min.js"></script>
    <script src="/lib/angular-animate.min.js"></script>
    <script src="/lib/angular-aria.min.js"></script>
    <script src="/lib/angular-material.min.js"></script>
    <script src="/lib/angular-messages.min.js"></script>
    <script src="/lib/cart-fragments.min.js"></script>
    <script src="/lib/cart.min.js"></script>
    <script src="/lib/contact-form.js"></script>
    <script src="/lib/country-select.min.js"></script>
    <script src="/lib/greensock.js"></script>
    <script src="/lib/imagesloaded.pkgd.min.js"></script>
    <script src="/lib/ishyoboy-shortcodes.js"></script>
    <script src="/lib/ish_jquery.tooltipster.min.js"></script>
    <script src="/lib/jquery.backgroundpos.min.js"></script>
    <script src="/lib/jquery.blockUI.min.js"></script>
    <script src="/lib/jquery.cookie.min.js"></script>
    <script src="/lib/jquery.easing-1.3.pack.js"></script>
    <script src="/lib/jquery.fancybox.pack.js"></script>
    <script src="/lib/jquery.flexslider-min.js"></script>
    <script src="/lib/jquery.jribbble.min.js"></script>
    <script src="/lib/jquery.parallax-1.1.3.js"></script>
    <script src="/lib/jquery.prettyPhoto.init.min.js"></script>
    <script src="/lib/jquery.prettyPhoto.min.js"></script>
    <script src="/lib/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="/lib/jquery.smoothscroll.min.js"></script>
    <script src="/lib/jquery.themepunch.revolution.min.js"></script>
    <script src="/lib/jquery.themepunch.tools.min.js"></script>
    <script src="/lib/js_composer_front.min.js"></script>
    <script src="/lib/layerslider.kreaturamedia.jquery.js"></script>
    <script src="/lib/layerslider.transitions.js"></script>
    <script src="/lib/lost-password.min.js"></script>
    <script src="/lib/main.js"></script>
    <script src="/lib/mediaelement-and-player.min.js"></script>
    <script src="/lib/packery.pkgd.min.js"></script>
    <script src="/lib/password-strength-meter.min.js"></script>
    <script src="/lib/select2.min.js"></script>
    <script src="/lib/single-product.min.js"></script>
    <script src="/lib/tweetMachine.js"></script>
    <script src="/lib/ui-bootstrap.min.js"></script>
    <script src="/lib/underscore-min.js"></script>
    <script src="/lib/widgets.js"></script>
    <script src="/lib/woocommerce.min.js"></script>
    <script src="/lib/wp-mediaelement.js"></script>
    <!-- endinject -->

    
</footer>

</html>


